<%= form_for(@adopter) do |f| %>
  <% if @adopter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@adopter.errors.count, "error") %> prohibited this adopter from being saved:</h2>

      <ul>
      <% @adopter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :yard %><br>
    <%= f.check_box :yard %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_area :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_area :state %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
